In [1]:
import pandas as pd

In [23]:
data = pd.read_csv('cleaned_aqi.csv')
data.min()

Date                                  1980-01-01
AQI                                           28
Category                                    Good
Defining Parameter                            CO
Number of Sites Reporting                     16
city_ascii                           Los Angeles
state_name                            California
lat                                      34.1141
lng                                    -118.4068
population                            12531334.0
density                                   3267.0
timezone                     America/Los_Angeles
Year                                        1980
Month                                          1
Day                                            1
dtype: object

In [37]:
i = data['AQI'].idxmin()

In [38]:
data['AQI'].loc[i]

28

In [53]:
data['AQI'].

61.30994518209416

In [72]:
air_quality_daily = data.groupby('Day')['AQI'].mean()
air_quality_daily = pd.DataFrame(air_quality_daily)
air_quality_std = pd.DataFrame(data.groupby('Day')['AQI'].std())
air_quality_std.rename(columns={'AQI': 'std'}, inplace=True)
data_new = pd.concat([air_quality_std, air_quality_daily], axis=1)
data_new

           std         AQI
Day
1    61.873725  120.922619
2    63.202457  119.694444
3    62.797600  119.821429
4    62.653136  120.992063
5    63.618933  118.055556
6    63.993631  117.178571
7    61.952199  115.932540
8    60.795573  116.575397
9    61.591666  115.402778
10   61.391615  114.718254
11   61.494702  114.007937
12   58.494406  115.636905
13   60.028334  115.974206
14   59.068908  116.329365
15   58.371663  115.841270
16   59.871094  116.527778
17   67.582335  118.867063
18   59.734935  116.833333
19   60.337931  115.660714
20   58.252176  114.992063
21   59.685289  115.015873
22   59.462503  114.833333
23   61.330185  116.218254
24   60.838413  117.412698
25   62.200351  117.257937
26   62.083762  115.240079
27   61.517647  114.789683
28   62.148193  115.291667
29   63.135985  119.784355
30   61.271959  122.028139
31   58.597604  119.608844

In [48]:
air_quality_daily['AQI'].std

<bound method Series.std of Day
1     120.922619
2     119.694444
3     119.821429
4     120.992063
5     118.055556
6     117.178571
7     115.932540
8     116.575397
9     115.402778
10    114.718254
11    114.007937
12    115.636905
13    115.974206
14    116.329365
15    115.841270
16    116.527778
17    118.867063
18    116.833333
19    115.660714
20    114.992063
21    115.015873
22    114.833333
23    116.218254
24    117.412698
25    117.257937
26    115.240079
27    114.789683
28    115.291667
29    119.784355
30    122.028139
31    119.608844
Name: AQI, dtype: float64>

In [97]:
data['Category'].unique()

array(['Unhealthy', 'Unhealthy for Sensitive Groups', 'Moderate', 'Good',
       'Very Unhealthy', 'Hazardous'], dtype=object)

In [77]:
data['Health risks'] = data['Category'].map({'Hazardous': 'Health risk', 
                                        'Good': 'No risk', 
                                        'Unhealthy': 'Health risk',
                                        'Very Unhealthy': 'Health risk',
                                        'Unhealthy for Sensitive Groups': 'Health risk',
                                        'Moderate': 'No risk'})

In [93]:
data['Health risks'].value_counts()/data['Year'].nunique()

Health risks
No risk        181.071429
Health risk    134.261905
Name: count, dtype: float64

In [88]:
data

,Date,AQI,Category,Defining Parameter,Number of Sites Reporting,city_ascii,state_name,lat,lng,population,density,timezone,Year,Month,Day,Health risks
0,1980-01-01,159,Unhealthy,CO,21,Los Angeles,California,34.1141,-118.4068,12531334.0,3267.0,America/Los_Angeles,1980,1,1,Health risk
1,1980-01-02,136,Unhealthy for Sensitive Groups,CO,21,Los Angeles,California,34.1141,-118.4068,12531334.0,3267.0,America/Los_Angeles,1980,1,2,Health risk
2,1980-01-03,133,Unhealthy for Sensitive Groups,CO,21,Los Angeles,California,34.1141,-118.4068,12531334.0,3267.0,America/Los_Angeles,1980,1,3,Health risk
3,1980-01-04,159,Unhealthy,CO,21,Los Angeles,California,34.1141,-118.4068,12531334.0,3267.0,America/Los_Angeles,1980,1,4,Health risk
4,1980-01-05,142,Unhealthy for Sensitive Groups,CO,21,Los Angeles,California,34.1141,-118.4068,12531334.0,3267.0,America/Los_Angeles,1980,1,5,Health risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15336,2021-12-27,59,Moderate,PM2.5,20,Los Angeles,California,34.1141,-118.4068,12531334.0,3267.0,America/Los_Angeles,2021,12,27,No risk
15337,2021-12-28,49,Good,NO2,19,Los Angeles,California,34.1141,-118.4068,12531334.0,3267.0,America/Los_Angeles,2021,12,28,No risk
15338,2021-12-29,41,Good,PM2.5,19,Los Angeles,California,34.1141,-118.4068,12531334.0,3267.0,America/Los_Angeles,2021,12,29,No risk
15339,2021-12-30,42,Good,NO2,20,Los Angeles,California,34.1141,-118.4068,12531334.0,3267.0,America/Los_Angeles,2021,12,30,No risk
15340,2021-12-31,79,Moderate,PM2.5,19,Los Angeles,California,34.1141,-118.4068,12531334.0,3267.0,America/Los_Angeles,2021,12,31,No risk

2097

In [86]:
data['Health risks'].value_counts()

Health risks
No risk        7605
Health risk    5639
Name: count, dtype: int64